

<p id="notice"><%= notice %></p>

<p>

  <h1 style = "color: purple; font-family: arial"><strong>Title:</strong>
  <%= @project.title %></h1>
</p>

<p>
  <h6><strong>Description:</strong>
  <%= @project.description %><h6>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
