<!DOCTYPE html>
<html>
  <head>
  
    <title>Cs3300</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    </head>

  <body>
  
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      
      <ul class="navbar-nav">
        <a class="navbar-brand" href="#">David&#8217s Portfolio Website</a>
        <li class="nav-item active">
          <% if user_signed_in? %>
            <%= link_to "Home", projects_path, class: 'nav-link' %>
          <% else %>
            <%= link_to "Home", projects_path, class: 'nav-link' %>
          <% end %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <p class="navbar-text float-right">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link'  %> |
            <button type="button" class="btn btn-danger btn-sm"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></button>
          <% else %>
          <button type="button" class="btn btn-primary btn-sm"><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %></button> |
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> 
          <% end %>
        </p>
      </ul>
    </nav>
  

</p>
    <%= yield %>
  </body>
</html>
